// Place all the styles related to the donate controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.donate_index{
height: 680px;
// background-image: url("http://i.imgur.com/YfEhp6z.jpg");
background-size: 100%;
background-repeat: no-repeat;
}

#char_title{
// height: 120px;
// width: 600px;
// text-align: center;
// margin-left: 30%;
// margin-top: 8%;
// background-color: rgba(255,255,255,0.2);
    font-size: 20px;
    position: absolute;
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight: 100;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 2rem;
    width: 45%;
    height: 10%;
    margin: 2rem;
    left: 24%;
    font-size: 1.2rem;
    text-align: center;
    margin-top: -435px;
}

#donate_title{
  margin-top: -1%;
  font-size: 49px;
}
.search_charities{
  // background-color: black;
  height: 200px;
}
#donation_search{
  text-align: center;
  font-size: 26px;
}
#charities{
  column-count:3;
  column-gap:100px;
  padding: 8%;
}

#all_charities{
  margin-top: 100px;
  background-image: url("http://i.imgur.com/DnitdqJ.jpg");
  background-size: 100%;
  height: 200px;
  text-align: center;

}
#lista{
padding:70px;
font-size: 36px;
}
#tree{
  // background-image: url("http://i.imgur.com/qgKjwJK.png?2");
}
// #show_container{
//   position: relative;
//   margin-top: 50px;
//   background-color: rgba(0,0,0,0.2);
//   height: 400px;
//   width: 100%;
//   text-align: center;
// }
#hands{
  text-align: center;
  margin-top: -160px;
}

.donate_sticker{
    background: cover;
    margin-left: -20px;
    margin-top: 0px;
    margin-bottom: -210px;
    height: 600px;
    width: 88%;
    position: relative;
    object-fit: cover;
    z-index: -100;
  }

  .donate_sticker2{
    background: cover;
    margin-left: -20px;
    margin-top: 85px;
    margin-bottom: -210px;
    height: 600px;
    width: 88%;
    position: relative;
    object-fit: cover;
    z-index: -100;
  }

.search_title{
  margin-bottom: 40px;
  margin-top: -80px;
}

.city{
  // margin-top: 200px
  font-size: 40px;
}

#char_title2{
  font-size: 20px;
  position: absolute;
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight: 100;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  padding: 2rem;
  width: 45%;
  height: 15%;
  margin: 2rem;
  left: 24%;
  font-size: 1.2rem;
  text-align: center;
  margin-top: -235px;
}


.text_box_donate{
  margin-left: 132px;
  margin-top: 200px;
  padding-bottom: 20px;
}
