// Place all the styles related to the donate controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#body_show2{

background-color:#DCDCDC;
background-image: url("http://i.imgur.com/qgKjwJK.png?2");
background-position: center;
background-repeat: no-repeat;
height: 1000px;

}
#body_show{
background-color:#DCDCDC;
background-image: url("http://i.imgur.com/qgKjwJK.png?2");
background-position: center;
background-repeat: no-repeat;
height: 750px;

}
#charities{
  margin-top:-20px;
  margin-left: 32%;
  text-align: center;
  background-color:rgba(0,191,255,0.4);
  height: 450px;
  width: 500px;
  border-radius: 10px;
}

#all{
  color:black;
  font-weight: bold;
}
#organization{
  margin-top:-20px;
  margin-left: 14%;
  text-align: center;
  background-color:rgba(0,191,255,0.2);
  height: 380px;
  width: 1000px;
  border-radius: 10px;
}
a{
  color: red;
}

.navbar-text{
  padding-top: 20px;
  padding-left: 20px;
  color:white;
  background-color: black;
  height: 50px;

}


#body_index{
  text-align: center;
}
#tree{
  margin-left: 19%;
}
.go-back{
  margin-left: 47%;
}

