// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.intro {
  margin-top: 100px
}

.createEvent {
  margin-top: 50px
}

.event_ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
}

.listsearch {
  float: left;
  width: 491px;
  margin: 0 0 20px 0;
  background-image: url(Search.png);
  height: 347px;
  background-repeat: no-repeat;
  border-right: 5px solid #b2a497;
  border-bottom: 5px solid #b2a497;
}

.searchresults{
  float: left;
  width: 470px;
}

.listevents{
  width: 514px;
  padding-left: 20px;
  margin-left: 0px;
  padding-left: 0px;
  border-left-width: 0px;
  margin-right: 99px;
  display: inline-block;
  margin-top: -296px;

}
.createEvent {
  float: right;
  display: inline-block;
  clear:both;
  margin-right: 83px;
  margin-top: -221px;

}

#allstuff {
  border: 5px solid #b2a497;
}

#event-img {
    border-right-width: 0px;
    width: 470px;
    padding-right: 0px;
    margin-right: 38px;
}

.writing {
  float: right;
  height: 347px;
  border-bottom: 5px solid #b2a497;
  width: 493px;
  clear:both;
}

#welcome{
  padding-right: 37px;
}

.editEventForm {
  margin-top: 60px
}

.editEventFormShow{
 margin-top: 90px
}

 .page_container-event{
  margin-top: 20px;
}

#Event_header{
    font-size: 20px;
    position: absolute;
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight: 100;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 2rem;
    width: 45%;
    height: 14%;
    margin: 2rem;
    left: 24%;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 213px;

}

#event-h1 {
    margin-top: 1%;
    margin-left: 10%;
    margin-bottom: -50px;
}

.event-form{
  top: 30px;
  margin-top: 17%;
  margin-left: 40%;

}
