<div id="all_charities">



<div class="donate_sticker_all">
   <img class="inv_donate"src= <%=image_path("http://i.imgur.com/DnitdqJ.jpg") %> width="599" height="556" alt="Words" usemap="#wordsmap">
</div>


<div id="char_title3" class="login">
    <h2 id="donate_title">Charity Organizations In Searched Area</h2>
</div>

<!-- <p id="lista">Charity Organizations in searched area</p> -->
</div>



<div id = "charities">
<%@response["data"].each do |charity| %>
<div id="one_char"><a href = "<%=@zipCode%>/<%=charity["ein"]%>"><%= charity["charityName"] %></a></div><br>
<%end%>
</div>
<div id ="tree">

</div>





