<div id = body_show>
<div id = "charities">
<ul>
<%@response["data"].each do |charity| %>
<div><a id='all' href = "<%=@zipCode%>/<%=charity["ein"]%>"><%= charity["charityName"] %></a></div><br>
<%end%>
</ul>
</div>
</div>



