<div id = body_show>

<div id = "charities">

<%@response["data"].each do |charity| %>
<a id='all' href = "<%=@zipCode%>/<%=charity["ein"]%>"><%= charity["charityName"] %></a><br>
<%end%>

</div>
<button class="go-back">Go Back</button>
</div>

<script>
$('.go-back').click(function(){
 window.history.back();
});

</script>


