<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>

</head>
  <body>
   <h1> Locate, Create and Share your events here. </h1>
    <p>List of events here</p>
      <% @event.each do |x| %>
        <ul>
          <li>
            <a href="/events/<%= x['id'] %>">Title: <%= x['title'] %></a>
          </li>
        </ul>
        <br>

      <% end %>
<h1>Create and Event:</h1>
<a href="/events/new" title="">Create an event</a>

  </body>
</html>
