INVOLVED PAGE
CHANGES
<br>
<br>



<br>
<br>


<img src= <%=image_path("words.png") %> width="599" height="556" alt="Words" usemap="#wordsmap">

<map name="wordsmap">
  <area shape="poly" coords="53,241,82,234,91,256,117,340,152,468,127,475" href="/involved/homelessness" target="_blank" alt="homelessness">
  </map>

<% @terms.each do |term| %>
<div class ="terms">

  <a href="/involved/<%= term["name"] %>"><%= term["name"] %></a> <br>
</div>

<% end %>





