INVOLVED PAGE
<div class="page_container">

<div id="involved_header" class="login">
  <h1>Get Involved</h1>
</div>

<div class="involved_sticker">
   <img class="inv"src= <%=image_path("kids.jpg") %> width="599" height="556" alt="Words" usemap="#wordsmap">
</div>
<div class ="row category_row">

<% @terms.each do |term| %>
  <div class="col-sm-3 cat" >
    <a class="terms" href="/involved/<%= term %>"><%= term.capitalize %></a> <br>
  </div>
<% end %>

</div>
</div>






