// Place all the styles related to the informed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.inf_container {
  margin: 100px 20px;
}

.inform_header {
  background-image: url(luis-llerena-15502.jpg);
  background-size: 95%;
  margin-left: -50px;
  // background: cover;
  position: relative;

}

#top-h1 {
    font-size: 36px;
    margin-top: 0px;
}

#informed_header {
    font-size: 20px;
    position: absolute;
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight: 100;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 2rem;
    width: 45%;
    top: 2%;
    height: 14%;
    margin: 2rem;
    left: 24%;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 213px;
}

.overlay{
  background: rgba(255,255,255,.7);
  position: absolute;
  z-index: -100;
}

h1 {
  margin: 30px 30px;
  padding: 0;
  color: black;
}

.articles {
  margin: 25px 50px;
}

.story {
  height: 15%;
  line-height: 25px;
  border-top: 1px solid #e7e7e7;
  padding: 20px 0;
}

.row.inf {
    margin-right: -22px;
    margin-left: 5%;
    margin-top: 20px;
}
.col-sm-3.inf {
    width: 25%;
    height: 9%;
}

.inf-link {
    margin: 0 0 10px;
    font-size: 24px;
    color: #817e7e;

}

.inf-link a {
    font-size: 24px;
    color: #817e7e;
}

.articles p {
  font-size: 16px;
}







